.home-container {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    background: no-repeat center;
    background-size: cover;
    height: 100vh;
    color: #FFF;
    transition: background-image 1s ease-in-out;
}
.home-container:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(38, 38, 38));
  }

.home-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 75px;
    width: 100vw;
    background:#00000090;
}

.home-header h2 {
    font-size: 2.5rem;
    font-style: italic;
}

.header-icons {
    font-size: 1.6rem;
    margin: 0 10px;
}

#fb-icon {
    color: #1771E6;
}

#fb-icon:hover {
    color: rgb(255, 255, 255);
}

#gitlab-icon {
    color: #EF6724;
}

#gitlab-icon:hover {
    color: rgb(255, 255, 255);
}

#linkedin-icon {
    color: #0189C2;
}

#linkedin-icon:hover {
    color: rgb(255, 255, 255);
}

#tiktok-icon {
    color: #F21261;
}

#tiktok-icon:hover {
    color: rgb(255, 255, 255);
}

.home-content {
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 10rem;
    background:#000000ce;
    background-size: cover;
    background-position: center;
    clip-path:polygon(15% 0,100% 0,80% 120%,-3% 120%);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition: opacity 0.5s ease-in-out;
}
.home-content h1 {
    font-size: 5rem;
}
.home-controls {
    padding-top: 30px;
    color: #FFF;
    transition: opacity 0.5s ease-in-out;
    display: flex;
    flex-direction: row;
    gap: 1rem
    ;    
}
.fade-out {
    opacity: 0;
}
.home-controls.fade-out {
    opacity: 0;
}

.home-controls span,
.controls {
    font-size: 21px;
}

.home-controls span {
    padding: 5px;
}
@media  (max-width:1300px) {
    .home-content{
        padding: 0.5rem 7rem;
    }
    .home-content h1 {
        font-size: 3.5rem;
    }
    .controls{
        font-size: 18px;
    }
}
@media  (max-width:1000px) {
    .home-content{
        padding: 0.5rem 7rem;
    }
    .home-content h1 {
        font-size: 2.5rem;
    }
    .controls{
        font-size: 18px;
    }
    .eventr-logo{
        width: 200px;
    }
}
@media  (max-width:875px) {
    .home-content{
        padding: 0.5rem 7rem;
    }
    .home-content h1 {
        font-size: 2rem;
    }
   
    .controls{
        font-size: 15px;
    }
}
span{
    margin-right: 30px;
}
.buttons-row button {
    padding: 15px;
}

.buttons {
    margin-right: 15px;
    font-size: 21px;
    padding: 5px;
    background-color: transparent;
    border: 1px solid #FFF;
    border-radius: 5%;
    color: #FFF;
}

.buttons:hover {
    background-color: rgba(66, 61, 61, 0.735);
}

.login-btn {
    margin: 0 2rem;
    font-size: 21px;
    padding: 6px;
    background-color: transparent;
    border: 1px solid #FFF;
    border-radius: 5%;
    color: #FFF;
}

.login-btn:hover {
    background-color: rgba(66, 61, 61, 0.735);
}


.circles-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    margin: 18%;
    margin-bottom: 0;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 .5rem 1rem;
    cursor: pointer;
    transition: background-image 1s ease-in-out;
    background-color: #FFF;
}

.title{
    transition: opacity 0.5s ease-in-out;
    background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(191, 173, 173));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



/* *********** G O O G L E L I N K ************/
.download-google-play{
    position: relative;
    bottom: -23em;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(12, 106, 214);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
@media  (max-width:940px) {
    .download-google-play{
        bottom: -10em;
    }
}
.download-google-play:hover {
    background: rgba(31, 55, 134, 0.88);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.download-google-play:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
}
.download-google-play::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}
@keyframes sh02 {
    from {
    opacity: 0;
    left: 0%;
    }

    50% {
    opacity: 1;
    }

    to {
    opacity: 0;
    left: 100%;
    }
}
.download-google-play:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}

a{
    color: #ffffff;
}
